.games {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto 50px;
}

.games__item {
	width: 100%;
	margin-bottom: 70px;
}

.games__image {
	position: relative;
	display: block;
	height: 360px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.games__image::before {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(36, 38, 50, 0.8);
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.games__image::after {
	content: "ПОДРОБНЕЕ О ТУРНИРЕ";
	position: absolute;
	display: block;
	width: 100%;
	top: 50%; 		
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity .3s ease-in-out;

	text-align: center;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: center;

	color: #B7BADF;
}

.games__image:hover::before,
.games__image:hover::after {
	opacity: 1;	
}

.games__link {
	display: flex;
	color: #fff;	
	flex-direction: column;
	text-decoration: none;
}

.games__link:hover {
	color: #fff;
	text-decoration: none;
}

.games__desc {
	position: relative;
	padding: 24px 55px 24px 99px;
	background: #3d3f51;
	text-decoration: none;
	color: #fff;		
}

.games__desc::before {
	content: "";
	position: absolute;
	left: 20px;
	bottom: 0;
	width: 59px;
	height: 145px;
	background-image: url("/app/static/public/img/lighthpise.svg");
	background-size: contain;
}

.games__title {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;
}

@media (min-width: 768px) {
	.games__item {
		width: calc(50% - 40px);
	}

	.games__item:not(:nth-child(3n)) {
		margin-right: 60px;
	}
}

@media (min-width: 1024px) {
	.games__item {
		width: calc(33.33% - 40px);	
		max-width: 500px;
	}
}
