@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

@import url('games.css');
@import url('games_admin.css');
@import url('forms.css');
@import url('banner.css');

body {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	background: #272A33;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1720px;
	margin: 0 auto;
}

.modal-content {
	background: #3D3F51;
}

.title {
	text-transform: uppercase;	
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
	color: #b7badf;
	margin-bottom: 20px;
	margin-top: 20px;
}

.main-title {
	font-family: 'Montserrat', sans-serif;	
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 73px;
	color: #B7BADF;
	text-transform: uppercase;
}

.main-date {
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #6C6E84;
}

.title-line {
	display: block;
	margin-bottom: 0;
	padding: 61px 0;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 49px;
	text-align: center;
	color: #B7BADF;
	text-transform: uppercase;
	background-color: #272A33;
}

.navbar {
	background: transparent;
}

.header,
.header-page {
	background: #3D3F51;
}

.header {
	padding: 34px 0;
}

.header_home {	
	background: none;
}

.navbar-dark .navbar-nav .nav-link {	
	color: #fff;
}

.header-page {
	padding-bottom: 30px;
}

.navbar-nav {
	flex-direction: row;
	align-items: center;
}

.navbar-text {
	color: #fff;
}

.nav-item:not(:last-child) {
	margin-right: 80px;
}

.table {
	color: #fff;
}

.table th {
	color: #6C6E7A;
}

.table td,
.table th {
	border-bottom-color: #9B9CA9;
}

@media (min-width: 768px) {
	.title {		
		font-size: 30px;
		line-height: 1.2px;		
		margin-bottom: 30px;
		margin-top: 30px;
	}
}

@media (min-width: 1024px) {
	.title {		
		font-size: 40px;
		line-height: 49px;		
		margin-bottom: 89px;
		margin-top: 93px;
	}
}

.input {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;

	background: #6C6E84;
	border: none;
	border-radius: unset;
}
